/* -------------------- PSEUDO-CLASSE CORES -------------------- */

:root {
  --cor-primaria: #417CB7;
  --cor-secundaria: #FFFFFF;
  --cor-terciaria: #433B3B;
}

/* -------------------------------------------------------------- */


/* --------------------------- RESET --------------------------- */

* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

/* -------------------------------------------------------------- */


/* -------------------------- CABEÇALHO -------------------------- */

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 5%;
  background-color: var(--cor-primaria);
  border-bottom: 3px solid var(--cor-primaria);
}

.cabecalho__logo {
  display: flex;
  height: 60%;
  gap: 15px;
}

.cabecalho__logo__box {
  height: 100%;
}

.cabecalho__logo__img {
  height: 100%;
}

.cabecalho .menu {
  display: flex;
  gap: 15px;
}

.cabecalho .menu li a {
  color: var(--cor-secundaria);
  display: inline;
  padding: 30px;
  font-size: 1rem;
  text-align: center;
}

.cabecalho .menu li a:hover {
  border-bottom: 3px solid var(--cor-secundaria);
}

/* -------------------------------------------------------------- */


/* ------------------------ PÁGINA HOME ------------------------ */

.home {
  display: flex;
  position: relative;
  min-height: calc(100vh - 80px);
}

.home::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, .7) 35%, transparent 65%);
}

.home .banner-home {
  width: 100%;
  object-fit: cover;
}

.home .conteudo {
  position: absolute;
  z-index: 1;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  padding: 5%;
  max-width: 780px;
}

.home .conteudo img {
  width: 40%;
}

.home .conteudo .titulo {
  color: var(--cor-secundaria);
  font-size: 3.5rem;  
}

.home .conteudo .texto {
  color: var(--cor-secundaria);
  font-size: 1.4rem;
  text-align: justify;
  line-height: 1.6;
  width: 90%;
}

.comunidades {
  background-color: var(--cor-primaria);
  text-align: center;
  width: 100%;
  height: auto;
  gap: 30px;
  padding: 30px;
}

.comunidades h3 {
  padding: 15px 0;
  font-size: 2rem;
}

.comunidades p {
  padding: 15px 0;
  font-size: 1.5rem;
}

.comunidades-quadro {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  width: 100%;
  padding: 15px 0;
}

.comunidades .comunidades-quadro li img {
  max-width: 150px;
  max-height: 150px;
  margin: 30px;
}

.parceiros {
  background-color: var(--cor-secundaria);
  text-align: center;
  width: 100%;
  height: auto;
  gap: 30px;
  padding: 30px;
}

.parceiros-quadro {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: 10px;
}

.parceiros .parceiros-quadro li img {
  max-width: 100%;
  max-height: 100%;
  padding: 0 auto;
}

.parceiros h3 {
  padding: 15px 0;
  font-size: 2rem;
}

.parceiros p {
  padding: 15px 0;
  font-size: 1.5rem;
}

/* -------------------------------------------------------------- */


/* ----------------------- PÁGINA CIDADES ----------------------- */

.cidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
}

.cidades-sustentaveis {
  display: flex;
  align-items: flex-start;
  padding: 2%;
  width: 100%;
  gap: 30px;
}

.cidades-sustentaveis-img {
  border-radius: 30px;
  height: auto;
  width: 50%;
}

.cidades-texto {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 30px;
  width: 50%;
}

.cidades-titulo {
  font-size: 2rem;
  font-weight: bolder;
  max-width: 100%;
}

.cidades-paragrafo {
  font-size: 1.25rem;
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
}

.pilares {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px;
  gap: 15px;
}

.pilares h4 {
  font-weight: bolder;
  font-size: 1.1rem;
  text-align: center;
  padding: 15px 0;
}

.pilares img {
  border-radius: 30px;
  width: 100%;
  max-height: 200px;
  padding-bottom: 15px;
}

.recursos-naturais {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  margin: 1rem;
  width: 90%;
}

.transporte {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  margin: 1rem;
  width: 90%;
}

.residuos-solidos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  margin: 1rem;
  width: 90%;
}

.areas-verdes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  margin: 1rem;
  width: 90%;
}

/* -------------------------------------------------------------- */


/* ----------------------- PÁGINA ENERGIA ----------------------- */

.energia {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
}

.energia-renovavel {
  display: flex;
  align-items: flex-start;
  padding: 2%;
  width: 100%;
  gap: 30px;
}

.energia-renovavel-img {
  border-radius: 30px;
  height: auto;
  width: 50%;
}

.energia-texto {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 30px;
  width: 50%;
}

.energia-titulo {
  font-size: 2rem;
  font-weight: bolder;
  max-width: 100%;
}

.energia-paragrafo {
  font-size: 1.25rem;
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
}

.fontes-energeticas {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 30px;
  gap: 15px;
}

.fontes-energeticas h4 {
  font-weight: bolder;
  font-size: 1rem;
  text-align: center;
  padding: 15px 0;
}

.fontes-energeticas img {
  border-radius: 30px;
  width: 100%;
  max-height: 200px;
  padding-bottom: 15px;
}

.energia-solar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  margin: 1rem;
  width: 25%;
}

.energia-hidreletrica {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  margin: 1rem;
  width: 25%;
}

.energia-eolica {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  margin: 1rem;
  width: 25%;
}

/* -------------------------------------------------------------- */


/* ---------------------- PÁGINA EMPRESAS ---------------------- */

.empresas {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  padding: 5%;
  gap: 10px;
}

.empresas-titulo {
  font-size: 2rem;
  font-weight: bolder;
  max-width: 100%;
}

.empresas-texto {
  font-size: 1.25rem;
  text-align: center;
}

.container-cima {
  display: flex;
}

.container-baixo {
  display: flex;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  padding: 0 1rem;
}

.box img {
  max-width: 100%;
  max-height: 60%;
}

/* -------------------------------------------------------------- */


/* ----------------------- PÁGINA CONTATO ----------------------- */

.contato {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    min-height: calc(100vh - 130px);
    gap: 30px
}

.h1-contato {
    color: #417cb7;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100;
    gap: 30px;
    text-align: center;
}

.info-de-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    gap: 15px;
    margin-bottom: 30px;
}

.icone-de-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 1rem;
}

.redes-sociais {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.redes-sociais-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
}

label {
    display: block;
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 700;
}

label:not(:first-of-type){
  margin-top: 1rem;
}

.helper-text {
  display: none;
  font-size: .8rem;
  color: darkred;
}

input[type="text"], input[type="email"], input[type="tel"],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: none;
}

input[type="submit"], input[type="reset"] {
    width: 49.5%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #417cb7;
    color: white;
    cursor: pointer;
}

input[type="reset"] {
    background-color: #ee6970;
    color: white;
    cursor: pointer;
}

/* ---------- Estilos dinâmicos ---------- */
.required-popup::after {
  content: "*Campo obrigatório";
  position: absolute;
  top: 0;
  right: 0;
  color: #DFDFDF;
  font-size: .65rem;
  padding: .2rem .3rem;
  width: auto;
  display: block;
  background-color: #202020;
}

input.error {
  border: solid 2px #992020;
  background-color: #CCBBBB;
  color: #662020;
}

input.correct {
  background-color: #BBCCBB;
  border: solid 2px #206620;
  color: #206620;
}

.visible {
  display: block;
}

/* -------------------------------------------------------------- */


/* ------------------------ BOTÃO VOLTAR ------------------------ */

.bt-voltar {
  text-align: center;
  margin: 50px 0;
}

.bt-voltar a {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.bt-voltar a:hover {
  background-color: var(--cor-primaria);
}

/* -------------------------------------------------------------- */


/* -------------------------- RODAPÉ -------------------------- */

footer {
  background-color: var(--cor-terciaria);
  color: var(--cor-secundaria);
  bottom: 0;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* -------------------------------------------------------------- */


/* ----------------------- RESPONSIVIDADE ----------------------- */

@media (min-width: 1680px) {
  .cidades-paragrafo {
    font-size: 1.4rem;
  }
  .energia-paragrafo {
    font-size: 1.4rem;
  }
}

/* -------------------------------------------------------------- */


/* @media (max-width: 1080px) {
  .cabecalho {
  }
} */

@media (max-width: 600px) {
/*   .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

  /* .home {
    display: flex;
    position: relative;
    min-height: calc(100vh - 80px);
  }
  
  .home::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, .7) 35%, transparent 65%);
  }
  
  .home .banner-home {
    width: 100%;
    object-fit: cover;
  }
  
  .home .conteudo {
    position: absolute;
    z-index: 1;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 80px;
    max-width: 780px;
  }
  
  .home .conteudo img {
    width: 40%;
  } */
  
  .home .conteudo .titulo {
    color: var(--cor-secundaria);
    font-size: 3rem;
    text-align: center;
    margin-top: 100px;
  }
  
  .home .conteudo .texto {
    color: var(--cor-secundaria);
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.6;
    width: 90%;
  }
  
  .comunidades {
    background-color: var(--cor-primaria);
    text-align: center;
    width: 100%;
    height: auto;
    gap: 30px;
    padding: 30px;
  }
  
  .comunidades h3 {
    padding: 15px 0;
    font-size: 2rem;
  }
  
  .comunidades p {
    padding: 15px 0;
    font-size: 1.5rem;
  }
  
  .comunidades-quadro {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    width: 100%;
    padding: 15px 0;
  }
  
  .comunidades .comunidades-quadro li img {
    max-width: 150px;
    max-height: 150px;
    margin: 30px;
  }
  
  .parceiros {
    background-color: var(--cor-secundaria);
    text-align: center;
    width: 100%;
    height: auto;
    gap: 30px;
    padding: 30px;
  }
  
  .parceiros-quadro {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    gap: 10px;
  }
  
  .parceiros .parceiros-quadro li img {
    max-width: 100%;
    max-height: 100%;
    padding: 0 auto;
  }
  
  .parceiros h3 {
    padding: 15px 0;
    font-size: 2rem;
  }
  
  .parceiros p {
    padding: 15px 0;
    font-size: 1.5rem;
  }  
}